body {
	background-color: #222222;
}
.login-container {
	background: grey;
	width: 40%;
	height: 100%;
	margin: 15% 45% 65% 30%;
	border-radius: 10px;
}

.login-content {
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 5% 5% 5% 10%;
	border-radius: 5px;

	.form-group {
		width: 90%;
		margin-left: 5%;
	}
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active {
	color: #999;
	background-color: #222222;
	
	a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		color:white;
		background-color: #222222;

	}
}
.navbar.navbar-inverse.navbar-fixed-top {
	min-height: 70px;

	.navbar-header {
		min-height: 70px;
	}
}
.row.row-offcanvas.row-offcanvas-right {
	margin-top: 7%;
}

// .container {
// 	margin-top: 4%;
// }
.content {
	background-color: white;
}
.jumbotron {
	margin-left: 1%;
	border: 2px solid #999999;
}
.index-blogs {
		background-color: #EEEEEE;
		border-radius: 5px;
		margin: 1% 0 0 1%;
		padding-top: 1px;
		border: 2px solid #999999;

		h2 {
			line-height: 35px;
			height: 35px;
			overflow: hidden;
			border-bottom: 1px solid #999999;
		}

		p {
			height: 65px;
			overflow: hidden;
		}
	}
.viewPostModal {
	margin-bottom: 5%;
	border: 1px solid #999999;
}
.portfolio-container {
	height: 90%;
	width: 80%;
	background-color: pink;
	margin: 5% 5% 10% 10%;

	ul {
		list-style-type: none;
		height: 100%;
	}

}
.portfolio-content {
	width: 98%;
	text-align: left;
	background-color: green;
	margin: 5% 25% 8% 1%

}
#footer {
	display: block;
	height: 60px;
	width: 100%;
	background-color: #222222;
	bottom: 0;

	.copy-right {
		line-height: 60px;
		font-size: 15px;
		margin-left: 1%;
	}

}

/* For Large desktops */
@media(min-width: 1200px) {
	.index-blogs {
		width: 270px;
		height: 190px;
		//background-color: purple;
		
	}
	.jumbotron {
		margin-right: 1.5%;
	}
	.container {
		margin-bottom: 5%;
	}
}

/* For desktops */
@media (min-width: 992px) and (max-width: 1200px) {
	.index-blogs {
		width: 340px;
		height: 190px;
		//background-color: blue;
	}
	.jumbotron {

		h1 {
			font-size: 70px;
		}
		p {
			font-size: 35px;
		}
	}

	#footer {
		display: inline;
		bottom: 0;
		position: fixed;
	}

}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
	.index-blogs {
		width: 250px;
		height: 200px;
		//background-color: red;
	}
	.jumbotron {
		margin-right: 4%;

		h1 {
			font-size: 52px;
		}

		p {
			font-size: 35px;
		}
	}
	.col-xs-12.col-sm-9 {
		margin-bottom: 12%;
	}
	.viewPostModal {
		margin-top: 4%;
	}

	#footer {
		display: inline;
		bottom: 0;
		position: fixed;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.index-blogs {
		height: auto;
		//background-color: yellow;
		margin-bottom: 3%;

		h2 {
			overflow: none;
			height: auto;
		}

		p {
			height: auto;
		}

	}
	.canvas-toggle {
		margin-top: 5%;
	}
	.jumbotron {
		margin-top: 5%;

		h1 {
			font-size: 60px;
		}
		p {
			font-size: 35px;
		}
	}
	.container {
		margin-bottom: 8%;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	.index-blogs {
		height: auto;
		//background-color: green;
		margin-top: 3%;
		h2 {
			overflow: none;
			height: auto;
		}
		p {
			height: auto;
		}
	}
	.canvas-toggle {
		margin-right: 1%;
		margin-top: 6%;
	}
	.jumbotron {
		margin-top: 5%;
		margin-bottom: 8%;

		h1 {
			font-size: 30px;
		}
		p {
			font-size: 25px;
		}

	}
	.container {
		margin-bottom: 8%;
	}
}










