@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
// @font-face {
// 	font-family: 'Novecentosanswide-Normal';
//     src: url('../fonts/nova.eot');
//     src: url('../fonts/nova.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/nova.woff') format('woff'),
//          url('../fonts/nova.ttf') format('truetype');
// 	font-weight: normal;
//     font-style: normal;
// }

body {
	background-color: #222222;
}
#main-container {
	background-color: white;
}

/* ############# login ############# */

.login-container {
	background: grey;
	width: 40%;
	height: 100%;
	margin: 15% 45% 65% 30%;
	border-radius: 10px;
}

.login-content {
	text-align: center;
	background-color: white;
	width: 80%;
	margin: 5% 5% 5% 10%;
	border-radius: 5px;

	.form-group {
		width: 90%;
		margin-left: 5%;
	}
}

/* ############# NavBar ############# */

// This is for the Nav-bar "Home" link //
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active {
	color: #999;
	font: 15px/2 'Helvetica Neue', Helvetica, Arial, sans-serif;

	background-color: rgba(34, 34, 34, 0);

	a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
		color: white;
		background-color: rgba(34, 34, 34, 0);

	}

}
// Nav-bar menu toggle //
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #444445;
}

// Mobile menu //
.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active {
	text-align: center;
	font: 15px/2 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.navbar-inverse .navbar-nav > li > a {
	text-align: center;
	font: 15px/2 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
.dropdown-menu {
	background-color: rgba(34, 34, 34,.8);
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	background-color: rgba(34, 34, 34,.8);
	color: #999;
	text-align: center;
	font: 15px/2 Arial, sans-serif;


	&:hover {
		color: white;
	}
}

ul.nav.navbar-nav {
		margin-right: 20%;
	}

// Nav-bar logo //
.navbar-inverse .navbar-brand {
	color: white;
	font: 23px/1.5 Helvetica, Arial, sans-serif;

	&:hover {
		color: #444445; // <--- double check?
	}

}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	background-color: rgba(34, 34, 34, 1);
}

nav.navbar.navbar-inverse.navbar-fixed-top {
	min-height: 50px;
	background-color: rgba(34, 34, 34, .7);
	color: black;

	.navbar-header {
		min-height: 50px;
	}
}
.nav.navbar-nav
.navbar-inverse .navbar-nav>li>a {
	color: white;
	font: 15px/2 Arial, sans-serif;

	&:hover {
		color: #444445;
	}
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	background-color: rgba(34, 34, 34, 0);
	border-color: rgba(34, 34, 34, 0);
	border-radius: 0;
	text-align: center;
}

/* ############# Index ############# */

// Side bar 'off-canvas' //
.row.row-offcanvas.row-offcanvas-right {
	margin-top: 4%;
}

// Old Posts side-bar //
a.list-group-item.active {
	background-color: #999999;

	&:hover {
		background-color: rgba(153, 153, 153, 0);
		color: #999999;
	}
}
a.list-group-item {
	background-color: rgba(235, 235, 235, .3);
	&:hover {
		color: black;
		background-color: rgba(153, 153, 153, .4);
	}
}
.list-group {
	border: 2px solid #999999;
	border-radius: 5px;
}


// index background //
.content {
	background: url("../img/geometry.png") repeat;
}

// banner //
.jumbotron {
	margin-left: 1%;
	border: 2px solid #999999;
	background-color: #EBEBEB;
}

// toggle button in banner //
.btn-primary {
	color: #fff;
	background-color: #656565;
	border-color: #999999;

	&:hover {
		background-color: #EEEEEE;
		color: #656565;
	}
}

// blog posts on index //
.index-blogs {
	background-color: rgba(235, 235, 235, .3);
	border-radius: 5px;
	margin: 1% 0 0 1%;
	padding-top: 1px;
	border: 2px solid #999999;

	h2 {
		line-height: 35px;
		height: 35px;
		overflow: hidden;
		border-bottom: 1px solid #999999;
	}
	p {
		height: 65px;
		overflow: hidden;
	}
}

// view modal button //
.viewPostModal {
	margin-bottom: 5%;
	border: 1px solid #999999;
	&:hover {
		background-color: #999999;
		color: white;
	}

}


// Footer For Index //

#footer {
	display: block;
	//height: 60px;
	width: 100%;
	background-color: rgba(119, 119, 119, .2);
	bottom: 0;

	.copy-right {
		line-height: 60px;
		font-size: 15px;
		margin-left: 1%;
	}
	.connect2 {
		width: 500px;
		height: 50px;
		float: right;
		margin-top: -1%;

		ul.social-icons-large {
			list-style: none;
			background-repeat: no-repeat;
			width: 500px;

			li a span {
				background-color: rgba(255,255,255,0);
				width: 50px;
				height: 40px;
				display: inline-block;
				margin: 4px;
				&:hover {
					background-color: red;
				}
			}

			li.facebook span.social-icon {
				background-position: -5px -20px;

			}
			li.twitter span.social-icon {
				background-position: -15px -108px;
			}
			li.linkedin span.social-icon {
				background-position: -19px -190px;
			}
			li.github span.social-icon {
				background-position: -17px -788px;

			}
		}
	}
}// #footer


/* ############# Portfolio  Page ############# */


.portfolio-container {
	// height: 90%;
	// width: 80%;
	// background-color: pink;
	// margin: 5% 5% 10% 10%;

	ul {
		list-style-type: none;
		height: 100%;
	}

}
.portfolio-content {
	// width: 98%;
	// text-align: left;
	// background-color: green;
	// margin: 5% 25% 8% 1%

}
li.portfolio-boxes {
	background-color: yellow;
	margin-bottom: 20%;
	width: 120%;
}


/* ############# About Me  Page ############# */

#home {
	background: url("../img/parallax1.jpg") 50% 0 no-repeat fixed; min-height: 1000px;
	background-color: rgba(0,0,0,.8);
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
}
article {
	height: 458px;
	position: absolute;
	text-align: center;
	width: 100%;
	line-height: 1;
	color: #222;
}
.aloha {
	font-family: 'Allura', cursive;
	text-shadow: 7px 7px white;
	font-size: 350px;
}
.im {
	margin-top: -3%;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 4px 4px white;
	font-size: 90px;
}
.name {
	font-family: 'Pathway Gothic One', sans-serif;
	text-shadow: 8px 8px white;
	font-size: 300px;
}
.developer {
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	text-shadow: 4px 4px white;
	font-size: 50px;
}
#connect {
	background: url("../img/carbon_fibre.png") repeat fixed;
	height: 500px;
}
.connect-with-me {
	color: white;
	font-size: 70px;
	font-family: 'LeagueGothicRegular', sans-serif;
	margin-top: 4%;


}
ul.social-icons-large {
	list-style: none;
	background-repeat: no-repeat;
	margin: auto;
	width: 250px;
	margin-top: 5%;

	.clearfix {
		display: block;
	}

	li a span {
		background-image: url("../img/social-icons.png");
		background-color: white;
		background-repeat: no-repeat;
		width: 84px;
		height: 84px;
		display: inline-block;
		float: left;
		margin: 1px;

		&:hover {
			background-color: red;
		}
	}

	li.facebook span.social-icon {
		background-position: 0 0;

	}
	li.twitter span.social-icon {
		background-position: 0 -85px;
	}
	li.linkedin span.social-icon {
		background-position: 0 -170px;
	}
	li.github span.social-icon {
		background-position: 0px -765px;

	}
}

#about {
	background: url("../img/parallax2.jpg") 50% 0 no-repeat fixed; min-height: 800px;
	height: 800px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rba(0,0,0,0.8);
}
.aboutMe {
	line-height: 1.1;
	margin: 17% 0 0 10%;
	width: 600px;
	background-color: red;
	height: 300px;
	font-size: 90px;
	color: white;
	font-family: 'LeagueGothicRegular', sans-serif;
}
#resume {
	background: url("../img/soft_circle_scales.png") repeat fixed;
	height: 1000px;
}

.myResume {
	margin-top: 5%;
	h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 70px;
		margin-top: -1%;
	}
	h3 {
		font-family: 'Novecentosanswide-Normal', sans-serif;
		font-size: 40px;
	}
}
.resume {
	width: 50%;
	float: right;
	margin-top: 2%;
	margin-right: 20%;
	line-height: 1;

	h4 {
		text-align: left;
	}
	p {
		font-family: ariel, sans-serif;
		text-align: left;
		line-height: 1.5;
	}
	h5 {
		text-align: left;
		margin-top: 2%;
	}
	li {
		text-align: left;
	}

}
#wave {
	background: url("../img/parallax3.jpg") 50% 0 no-repeat fixed; min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;

}
#night {
	background: url("../img/parallax4.jpg") 50% 0 no-repeat fixed; min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;

}

.contactMe {
	color: white;
	font-size: 90px;
	text-shadow: 4px 4px #222;
	margin-top: 6%;
	.contactContact {
		font-family: 'Novecentosanswide-Normal', sans-serif;
		font-size: 40px;
		font-weight: 300;
	}
	.contactMe {
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		font-size: 100px;
	}
	.contactPlease {
		font-family: 'Lobster', cursive;
		font-size: 50px;
	}
	.contactRight {
		width: 400px;
		background-color: white;
		height: 3px;
		float: right;
		margin: -2.5% 13% 0 0;
	}
	.contactLeft {
		width: 400px;
		background-color: white;
		height: 3px;
		float: left;
		margin: -2.5% 0 0 13%;
	}
}

.contactForm {
	display: block;
	font-family: Ariel, sans-serif;
	font-size: 14px;
	margin: 5% 45% 0 0;

	#cust-name {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;
	}
	#cust-email {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;

	}
	#cust-message {
		width: 300px;

	}
	button#cust-submit {
		margin-top: 10px;
		width: 100px;
		height: 40px;
		background-color: rgba(0,0,0,0);
		border-color: white;
		color: white;
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 30px;
		border-width: 1.5px;
		transition: .5s;


		&:hover {
			background-color: white;
			color: black;

		} 
	}
}
.freelance {
	width: 30%;
	float: right;
	color: white;
	margin-right: 12%;
	margin-top: 2%;
}
.alert-success {
	background-color: purple;
	border-color: white;
	color: white;
	width: 230px;
	margin-left: 10%;
}

/* ############# oldPosts ############# */

#oldPosts-title {
	text-align: center;
	color: white;
	background-color: black;
	height: 200px;
	margin: -3% -.2% 12% -.2%;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	font-family: Helvetica,Arial,sans-serif;
	font: 40px;

	h1 {
		line-height: 5;
	}

}

.oldPosts-content {
	background-color: white;
	width: 100%;
	height: 100%;
	margin-top: 5%;
	margin-bottom: 10%;
	border-radius: 20px;
	border: 2px solid white;

	ul {
		list-style-type: none;
		height: 100%;
	}
	h2 {
		margin-left: 5%;
		width: 85%;
		border-bottom: 2px solid black;
	}
	h4 {
		margin: 5%;
		font-family: 'Oxygen', sans-serif;
		font-size: 16px;
		line-height: 28px;
		color: #555555;
		margin-bottom: 20%;
	}
	h6 {
		margin: 3% 0 -2% 5%;
		font-size: 15px;
	}

}
.oldPosts-container {
	background: url("../img/cool_beach.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	width: 100%;
}

/* ############# Media Queries ############# */


/* For Large desktops */
@media(min-width: 1200px) {
	#main-container {
		margin-top: -8px;
	}
	.navbar-nav {
		float: right;
	}
	.index-blogs {
		width: 270px;
		height: 190px;
		//background-color: purple;
		
	}
	.jumbotron {
		margin-right: 1.5%;
	}
	.container {
		margin-bottom: 5%;
	}
	.oldPosts-content {
		width: 72%;
		margin-left: 14%;

		h6{
			margin-top: 4%;
			margin-bottom: 6%;
		}

		h4 {
			margin-left: 10%;
			width: 75%;
		}

	}
	/* ############ About Me ############ */
	.contactMe {
		.contactRight {
			margin: -2.5% 11% 0 0;
		}
		.contactLeft {
			margin: -2.5% 0 0 11%;
		}
	}

}// Ends Purple

/* For desktops */
@media (min-width: 992px) and (max-width: 1200px) {
	#main-container {
		margin-top: -8px;
	}
	.index-blogs {
		width: 340px;
		height: 190px;
		//background-color: blue;
	}
	.navbar-nav {
		float: right;
	}
	.jumbotron {

		h1 {
			font-size: 70px;
		}
		p {
			font-size: 35px;
		}
	}
	.col-xs-12.col-sm-9 {
		margin-bottom: 3%;
	}
	.oldPosts-content {
		width: 162%;
		margin-left: 23.5%;
		
		h6 {
			margin-bottom: 6%;
			margin-top: 4%;
		}

		h4 {
			width: 75%;
			margin-left: 10%;
			margin-bottom: 20%;
		}
	}
	/* ########## About Me ######### */
	.aloha {
		margin-right: 5%;
	}
	.name {
		margin-left: 2%;
	}
	.developer {
		line-height: 1.5;
		font-family: 'Montserrat', sans-serif;
		text-shadow: 4px 4px white;
		font-size: 50px;
	}
	.connect-with-me {
		margin-top: 8%;
	}
	.contactMe {
		.contactRight {
			margin: -3% 4% 0 0;
		}
		.contactLeft {
			margin: -3% 0 0 4%;
		}
	}

}// ends BLUE


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {

	.navbar-nav {
		float: right;
	}
	#main-container {
		margin-top: -10px;
	}
	.index-blogs {
		width: 250px;
		height: 200px;
		//background-color: red;
	}
	.jumbotron {
		margin-right: 4%;

		h1 {
			font-size: 52px;
		}
		p {
			font-size: 35px;
		}
	}
	.col-xs-12.col-sm-9 {
		margin-bottom: 12%;
	}
	.viewPostModal {
		margin-top: 4%;
	}
	#oldPosts-title {
		margin-left: -.4%;
		margin-top: -3.5%;
		margin-right: -.4%;
	}
	.oldPosts-content {
		width: 85%;
		margin-left: 9%;
		h2 {
			margin-left: 4%;
		}
		h6 {
			margin: 6% 0 5% 4%;		
		}
		h4 {
			width: 82%;
			margin-left: 7%;
			margin-bottom: 20%;
		}
	}

/* ############# About Me  Page ############# */

	.aloha {
		text-shadow: 3px 3px white;
		font-size: 250px;
		margin-top: 5%;
		margin-right: 4%;
	}
	.im {
		margin-top: -3%;
		text-shadow: 2px 2px white;
		font-size: 65px;
	}
	.name {
		text-shadow: 5px 5px white;
		font-size: 200px;
		margin-left: 3%;
		margin-top: 4%;
	}
	.developer {
		line-height: 1.5;
		text-shadow: 2px 2px white;
		font-size: 50px;
		margin-top: 4%;
	}

	.resume {
		width: 60%;
		float: right;
		margin-top: 2%;
		margin-right: 15%;
		line-height: 1;

		h4 {
			text-align: left;
		}
		p {
			font-family: ariel, sans-serif;
			text-align: left;
			line-height: 1.5;
		}
		li {
			margin-right: 80%;
			margin-top: 2%;
			width: 100%;
		}

	}

.contactMe {
	color: white;
	font-size: 90px;
	text-shadow: 4px 4px #222;
	margin-top: 6%;
	.contactMe {
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		font-size: 100px;
	}
	.contactRight {
		width: 250px;
		background-color: white;
		height: 3px;
		float: right;
		margin: -3.4% 7.5% 0 0;
	}
	.contactLeft {
		width: 250px;
		background-color: white;
		height: 3px;
		float: left;
		margin: -3.4% 0 0 7%;
	}
}

.contactForm {
	display: block;
	font-family: Ariel, sans-serif;
	font-size: 14px;
	margin: 5% 45% 0 0;

	#cust-name {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;
	}
	#cust-email {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;

	}
	#cust-message {
		width: 300px;

	}
	button#cust-submit {
		margin-top: 10px;
		width: 100px;
		height: 40px;
		background-color: rgba(0,0,0,0);
		border-color: white;
		color: white;
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 30px;
		border-width: 1.5px;
		transition: .5s;


		&:hover {
			background-color: white;
			color: black;

		} 
	}
}
	.freelance {
		width: 40%;
		margin-right: 6%;
		margin-top: 1%;
	}



}// ends RED

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	ul.nav.navbar-nav {
		margin-right: 0;
	}
	#main-container {
		margin-top: -12px;
	}
	.navbar-inverse .navbar-toggle {
		margin-top: 1.5%;
	}

	.index-blogs {
		height: auto;
		//background-color: yellow;
		margin-bottom: 3%;

		h2 {
			overflow: none;
			height: auto;
		}

		p {
			height: auto;
		}

	}

	.canvas-toggle {
		margin-top: 6.4%;
		margin-right: 1.6%;
	}

	.list-group {
		margin-top: 11%;
	}

	.jumbotron {
		margin-top: 5%;

		h1 {
			font-size: 55px;
		}
		p {
			font-size: 35px;
		}
	}

	.container {
		margin-bottom: 8%;
	}
	#oldPosts-title {
		margin-left: -.5%;
		margin-top: -6%;
		margin-right: -.4%;
	}

	.oldPosts-content {
		width: 95%;
		margin-left: 5%;

		h2 {
			margin-left: 1%;
		}
		h6 {
			margin: 6% 0 7% 1%;

		}

		h4 {
			width: 85%;
			margin-left: 4%;
		}

	}

/* ############# About Me  Page ############# */

	.aloha {
		text-shadow: 2px 2px white;
		font-size: 150px;
		margin-top: 5%;
		margin-right: 2%;
	}
	.im {
		margin-top: -3%;
		text-shadow: 3px 3px white;
		font-size: 55px;
	}
	.name {
		text-shadow: 5px 5px white;
		font-size: 190px;
		margin-left: 3%;
		margin-top: 4%;
	}
	.developer {
		line-height: 1.5;
		text-shadow: 2px 2px white;
		font-size: 30px;
		margin-top: 10%;
	}
	.connect-with-me {
		font-size: 70px;
		margin-top: 20%;
		margin-left: 9%;
	}

	#about {
		background: url("../img/parallax2@2X.jpg") 50% 0 no-repeat fixed; min-height: 500px;
		height: 500px;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		box-shadow: 0 0 50px rba(0,0,0,0.8);
	}
	.aboutMe {
		line-height: 1.3;
		margin: 17% 0 0 10%;
		width: 350px;
		height: 200px;
		font-size: 50px;
	}

	.contactMe {

		.contactRight {
			width: 120px;
			margin: -7% 7.5% 0 0;
		}
		.contactLeft {
			width: 120px;
			margin: -7% 0 0 7%;
		}
	}
	.contactForm {
		display: block;
		font-family: Ariel, sans-serif;
		font-size: 14px;
		margin-right: 5%;

		#cust-name {
			width: 200px;
			height: 35px;
			margin-bottom: -55px;
		}
		#cust-email {
			width: 200px;
			height: 35px;
			margin-bottom: -55px;

		}
		#cust-message {
			width: 200px;
			height: 200px;

		}
		button#cust-submit {
			margin-top: 10px;
			width: 100px;
			height: 40px;
			background-color: rgba(0,0,0,0);
			border-color: white;
			color: white;
			font-family: 'Pathway Gothic One', sans-serif;
			font-size: 30px;
			border-width: 1.5px;
			transition: .5s;


			&:hover {
				background-color: white;
				color: black;

			} 
		}
	}
	.freelance {
		width: 55%;
		margin-right: 6%;
		margin-top: 1%;
		float: left;
		margin-left: 20%;
		margin-bottom: 5%;
	}


}

/* Landscape phones and down */
@media (max-width: 480px) {
	
	ul.nav.navbar-nav {
		margin-right: 0;
	}
	#main-container {
		margin-top: -20px;
	}
	.navbar-inverse .navbar-toggle {
		margin-top: 3%;
	}
	.index-blogs {
		height: auto;
		//background-color: green;
		margin-top: 2%;
		margin-left: .3%;
		h2 {
			overflow: none;
			height: auto;
		}
		p {
			height: auto;
		}
	}
	.list-group {
		margin-top: 12%;
		margin-right: 2%;
	}
	.jumbotron {
		margin-top: 5%;
		margin-bottom: 8%;
		margin-right: 1%;

		h1 {
			font-size: 30px;
		}
		p {
			font-size: 25px;
		}

	}
	.container {
		margin-bottom: 8%;
	}
	#oldPosts-title {
		margin-top: -7%;
		margin-right: -.6%;
		margin-left: -.6%;

	}
	.oldPosts-content {
		width: 85%;
		margin-left: 11%;

		h2 {
			margin-left: -2%;
		}

		h4 {
			margin-left: 1.5%;
			width: 85%;
		}
		h6 {
			margin-left: -2%;
			margin-bottom: 8%;
			margin-top: 4%;
		}

	}

/* ############# About Me  Page ############# */

	#home {
		background: url("../img/parallax1@2X.jpg") 50% 0 no-repeat fixed; min-height: 1000px;
	}
	// article {
	// 	height: 8px;
	// 	text-align: center;
	// 	width: 60%;
	// 	line-height: 1;
	// 	color: #222;
	// }
	.aloha {
		text-shadow: 3px 3px white;
		font-size: 125px;
	}
	.im {
		margin-top: -3%;
		text-shadow: 1px 1px white;
		font-size: 50px;
	}
	.name {
		text-shadow: 3px 3px white;
		font-size: 150px;
	}
	.developer {
		line-height: 1;
		text-shadow: 1px 1px white;
		font-size: 30px;
	}
	#connect {
		height: 350px;
	}
	.connect-with-me {
		font-size: 50px;
		margin-top: 16%;
		margin-left: 9%;
	}
	ul.social-icons-large {
		margin-top: 5%;

		.clearfix {
			display: block;
		}
		li a span {
			margin: 1px;
		}
	}

	#about {
		background: url("../img/parallax2@2X.jpg") 50% 0 no-repeat fixed; min-height: 500px;
		height: 500px;
		margin: 0 auto;
		width: 100%;
		max-width: 1920px;
		position: relative;
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
		box-shadow: 0 0 50px rba(0,0,0,0.8);
	}
	.aboutMe {
		line-height: 1.3;
		margin: 17% 0 0 10%;
		width: 250px;
		height: 170px;
		font-size: 45px;
	}
#resume {
	background: url("../img/soft_circle_scales.png") repeat fixed;
	height: 1000px;
}

.myResume {
	margin-top: 10%;
	h1 {
		font-size: 70px;
		margin-top: -1%;
		margin-left: 4%;
	}
	h3 {
		font-size: 40px;
		margin-left: 10%;
	}
}
.resume {
	width: 80%;
	float: right;
	margin-top: 2%;
	margin-right: 10%;
	line-height: 1;

	h4 {
		text-align: left;
	}
	p {
		font-family: ariel, sans-serif;
		text-align: left;
		line-height: 1.5;
	}
	li {
		margin-right: 80%;
		margin-top: 2%;
		width: 100%;
	}

}
#wave {
	background: url("../img/parallax3@2X.jpg") 50% 0 no-repeat fixed; min-height: 500px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;

}
#night {
	background: url("../img/parallax4@2x.jpg") 50% 0 no-repeat fixed; min-height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	position: relative;

}

.contactMe {
	color: white;
	font-size: 90px;
	text-shadow: 4px 4px #222;
	margin-top: 6%;
	.contactContact {
		font-family: 'Novecentosanswide-Normal', sans-serif;
		font-size: 40px;
		font-weight: 300;
	}
	.contactMe {
		font-family: 'LeagueGothicRegular';
		text-transform: uppercase;
		font-size: 100px;
	}
	.contactPlease {
		font-family: 'Lobster', cursive;
		font-size: 50px;
	}
	.contactRight {
		width: 400px;
		background-color: white;
		height: 3px;
		float: right;
		margin: -2.5% 13% 0 0;
	}
	.contactLeft {
		width: 400px;
		background-color: white;
		height: 3px;
		float: left;
		margin: -2.5% 0 0 13%;
	}
}

.contactForm {
	display: block;
	font-family: Ariel, sans-serif;
	font-size: 14px;
	margin: 5% 45% 0 0;

	#cust-name {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;
	}
	#cust-email {
		width: 300px;
		height: 55px;
		margin-bottom: -15px;

	}
	#cust-message {
		width: 300px;

	}
	button#cust-submit {
		margin-top: 10px;
		width: 100px;
		height: 40px;
		background-color: rgba(0,0,0,0);
		border-color: white;
		color: white;
		font-family: 'Pathway Gothic One', sans-serif;
		font-size: 30px;
		border-width: 1.5px;
		transition: .5s;


		&:hover {
			background-color: white;
			color: black;

		} 
	}
}
.freelance {
	width: 20%;
	float: right;
	color: white;
	margin-right: 20%;
	margin-top: 2%;
}
/* ########### Footer ######### */

	.connect2 {
		width: 500px;
		height: 50px;
		float: right;
		margin-top: -1%;
		margin-left: 5%; 

		ul.social-icons-large {
			list-style: none;
			background-repeat: no-repeat;
			width: 500px;
		}
	}

}// ends small