extends layout
block content
	include head
	section#home(data-type='background', data-speed='10')
		article I AM DEREK AHN 
	section#aboutMe
		article Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore, deleniti, magnam, quod id voluptate blanditiis neque at dolorum ad aperiam eaque laboriosam vel voluptates facilis suscipit omnis quisquam. Aspernatur! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore, deleniti, magnam, quod id voluptate blanditiis neque at dolorum ad aperiam eaque laboriosam vel voluptates facilis suscipit omnis quisquam. Aspernatur!
	section#about(data-type='background', data-speed='10')
		article Simple Parallax Scroll
	section#resume
		article My Resume Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore, deleniti, magnam, quod id voluptate blanditiis neque at dolorum ad aperiam eaque laboriosam vel voluptates facilis suscipit omnis quisquam. Aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore, deleniti, magnam, quod id voluptate blanditiis neque at dolorum ad aperiam eaque laboriosam vel voluptates facilis suscipit omnis quisquam. Aspernatur!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, inventore, deleniti, magnam, quod id voluptate blanditiis neque at dolorum ad aperiam eaque laboriosam vel voluptates facilis suscipit omnis quisquam. Aspernatur!
	section#wave(data-type='background', data-speed='10')
