extends layout
block content
	include head
	section#home(data-type='background', data-speed='10')
		article 
			.aloha
				p Aloha!
			.im
				p I'M
			.name
				p DEREK AHN
	section#connect
		article
			.connect-with-me 
				p CONNECT WITH ME!
			.mediaIcons
	section#about(data-type='background', data-speed='10')
		article Simple Parallax Scroll
	section#resume
		article
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
	section#wave(data-type='background', data-speed='10')
	section#night(data-type='background', data-speed='10')
