extends layout
block content
	include head
	section#home(data-type='background', data-speed='10')
		article I am absolute positioned
	section#about(data-type='background', data-speed='10')
		article Simple Parallax Scroll
