extends layout
block content
	include head
	section#home(data-type='background', data-speed='10')
		.row
			article 
				.aloha
					p Aloha!
				.im
					p I'M
				.name
					p DEREK AHN
				.developer
					p A 
					p WEB DEVELOPER
	section#connect
		article
			.connect-with-me 
				p CONNECT WITH ME!
				ul.social-icons-large.clearfix
					li.facebook 
						a(href='http://www.facebook.com/DerekAhn')
							span.social-icon 
					li.twitter
						a(href='http://www.twitter.com/dataderek')
							span.social-icon
					li.github
						a(href='http://www.github.com/daddyderek')
							span.social-icon
					li.linkedin
						a(href='https://www.linkedin.com/pub/derek-ahn/78/473/2a0')
							span.social-icon
			.mediaIcons
	section#about(data-type='background', data-speed='10')
		article 
			.aboutMe 
				p I LOVE JAVASCRIPT, MUAYTHAI, AND HAWAII!
	section#resume
		article
			h3 My
			h1 Resume
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
			p loremisdjafoijsofijsdojfaskdjf
	section#wave(data-type='background', data-speed='10')
	section#night(data-type='background', data-speed='10')
		article
			.contactMe
				h1 Contact Me
