nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
 .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/home') console.Blog( ) 
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='/home') Home
        li
          a(href='/home/portfolio') Portfolio
        li
          a(href='/home/contact') Contact
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Menu
            b.caret
          ul.dropdown-menu
            li
              - if (loggedIn)
                a(href="/home/newPost") New Post
            li
              a(href='/home/oldPosts') Old Posts
            li
              a(href='/home/projects') Projects
            li
              a(href='/home/hacktheplanet') Hack The Planet!
            li.divider
            li
              - if (!loggedIn)
                a(href="/login") Login
              - else
                a(href="/logout") Logout