extends layout

block content
    body
      .content
        .container
          .row.row-offcanvas.row-offcanvas-right
            .col-xs-12.col-sm-9
              .canvas-toggle
                p.pull-right.visible-xs
                  button.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas') Toggle
              .jumbotron
                h1 console.Blog( );
                p
                  | My life in code.
              .row2
                - for post in posts
                  .index-blogs.col-6.col-sm-6.col-lg-6.row1
                    h2.modalBlogPostTitle #{post.title}
                    p.modalBlogPostBody 
                      - if (post.content.length > 100) 
                        =post.content.substring(0, 100)
                        &hellip;
                      - else 
                        =post.content
                    a.btn.btn-default(class='viewPostModal', data-toggle='modal', data-target='#readModal', data-id='#{post._id}', role='button') View details »
                #readModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='readModalLabel', aria-hidden='true')
                  .modal-dialog
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myPostModalTitle.modal-title 
                        #myPostModalBody.modal-body
                        .modal-footer
                          button.btn.btn-default(type='button', data-dismiss='modal') Close
            #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
              .list-group
                a.list-group-item.active(href='/home/blog/oldPosts') Older Posts
                - for post in posts
                  a.list-group-item(href='/home/blog/oldPosts/#postTitle') #{post.title}
        #footer
          .copy-right 
            © DaddyDerek 2014
            //- .connect2
            //-   ul.social-icons-large.clearfix
            //-     li.facebook 
            //-       a(href='http://www.facebook.com/DerekAhn')
            //-         span.social-icon 
            //-     li.twitter
            //-       a(href='http://www.twitter.com/dataderek')
            //-         span.social-icon
            //-     li.github
            //-       a(href='http://www.github.com/daddyderek')
            //-         span.social-icon
            //-     li.linkedin
            //-       a(href='https://www.linkedin.com/pub/derek-ahn/78/473/2a0')
            //-         span.social-icon