extends layout
block content
    include head
    div#postBox.row
        .col-md-6.col-md-offset-3
            h3 New Blog Post
            form(id='blogForm', action='/home/newPost', method='post', role='form')
                .form-group
                    label(id="titleID", for="title") Title :
                    input(id='title', type='text', placeholder='Name Your Story', name='title')
                .form-group
                    label(id='bodyID', for="body") Body :
                    textarea(id='body', class='form control', type='text', placeholder='Tell Your Story', rows='17', cols='100', name='content')
                button(type='sumbit') Submit
            #result