extends layout
block content
	include head
	div#projectPost.row
		.col-md-6.col-md-offset-3
			h2 My Portfolio
			.userPortfolio
				if (loggedIn)
					h4 Add A New Project
					form(id='blogForm', action='/home/newPost', method='post', role='form')
						.form-group
							label(id="projectId", for="projectTitle") Title :
							input(id='projectTitle', type='text', placeholder='Title of Project', name='projectTitle')
						.form-group
							label(id='projectDescriptionLabel', for="description") Description :
							textarea(id='description', class='form control', type='text', placeholder='Describe Your Project', rows='12', cols='95', name='content')
						button(type='sumbit') Submit
