extends layout

block content
    body
        div.jumbotron 
            h1 Hello, world!
            p sex
            a.btn.btn-primary.btn-lg(role='button') Learn more
        #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
            .list-group
                a.list-group-item.active(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
                a.list-group-item(href='#') Link
