extends layout

block content
	h1= title
	body
		form(id='bodyBlog', name='bodyBlog', action='', method='POST')
			input(type="textarea", placeholder="TEST")
			input(type='submit', value='Blog It')
		#result