extends layout
block content
    include head
    div.container
        form(id='blog', action='/home/newPost', method='post')
            label(id="titleID", for="title") Title :
            input(id='title', type='text', placeholder='Name Your Story', name='title')
            label(id='bodyID', for="body") Body :
            textarea(id='body', type='text', placeholder='Tell Your Story', rows='20', cols='70', name='content')
            button(type='sumbit') Submit
        #result