extends layout
block content
	include head
	.container
		.row
			.col-md-6.col-md-offset-3
				h3 Old Posts
				ul
				- for post in posts
					li
						form(role='form')
							#postTitle.form-group
								h2=post.title
							#postContent.form-group
								h4=post.content
							#postDate.form-group
								h6=post.date
							.form-group
								button(class='delete', href='/home/#{post.id}') Delete
								button(class='edit', data-toggle='modal', data-target='#myModal') Edit
					#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
						.modal-dialog
							.modal-content
								.modal-header
									.form-group
										button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
										h4#myModalLabel.modal-title
											label(id="titleEditID", for="titleEdit") Title :
											input(id="titleEdit", type="text", name="title")
								.modal-body
									.form-group
										label(id='bodyEditID', for='bodyEdit') Body :
										textarea(id='bodyEdit', class='form control', type='text', rows='17', cols='70', name='content')
								.modal-footer
									.form-group
										button.btn.btn-default(type='button', data-dismiss='modal') Close
										button.btn.btn-primary(type='button') Save changes