/* line 2, ../../sass/style.scss */
#blog #titleID {
  float: left;
}
/* line 5, ../../sass/style.scss */
#blog #bodyID {
  float: left;
}
/* line 8, ../../sass/style.scss */
#blog #title {
  width: 600px;
}
